@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}

.backgroundHeaderImage {
    visibility: hidden;
    visibility: hidden;
    transition: visibility .5s, opacity .3s linear;
}

.userPageContainer:hover .backgroundHeaderImage {
    visibility: visible;
    visibility: visible;
    opacity: 1;
}

.backgroundHeaderImage {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px 10px 10px 10px;
    font-size: medium;
    width: auto;

}

.headerUploadField>input {
    width: 85px;
    font-size: 12px;

}

.headerUploadField {
    font-size: 12px;
    width: fit-content;
    box-shadow: 0 30px 40px rgba(0, 0, 0, .1)
        /* background-color: whitesmoke;
    box-shadow: black 1px;
    margin: 4px 4px 4px 4px;
    padding: 5px;
    border-radius: 1px; */
}

.backgroundHeaderImage button {
    padding: 5px;
    border-radius: 3px;
}

.headerField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chooseFileAvatar {
    visibility: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity .3s linear;
}

.userbtn {
    height: 85%;
    padding: 5px 10px 6px 10px;
    margin-left: 3px;
}

.placeholderDiv:hover .chooseFileAvatar {
    visibility: visible;
    visibility: visible;
    opacity: 1;

}

.userImage {
    margin: 15px 10px 10px 10px;
    background: url("https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    transition: 1s ease;
}

.userImage:hover {
    background-color: white;
    box-shadow: 10px -10px 70px #CCC;
    padding: 2px;
}


.userImage>input {
    font-size: 16px;
    margin: 15px 5px -18px 5px;
    padding: 25px 25px 20px 5px;
    border-radius: 3px;
}

.field.userPage {
    margin: 0px 5px 5px 14px;
    font-size: 70%;
    width: 140px;
}



.field.userPage:hover {
    background-color: white;
}


.display_name_div {
    margin: 0px 5px 5px 20px;
    font-size: 20px;
    background-color: black;
    width: fit-content;
    color: floralwhite;
    padding: 5px;
}

.userDetailsInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 10px 10px 10px;
    background-size: 0%
}

.backgroundUserImage {
    display: flex;
}

.userPageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
    border-bottom: 2px black solid;
    background: url("https://media.tarkett-image.com/large/TH_24567081_24594081_24596081_24601081_24563081_24565081_24588081_001.jpg") no-repeat center;
    background-size: cover;
}




#firstcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.userNav {
    background-color: black;
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 13%;
    list-style: none;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #303030;
    z-index: 1;
}

.placeholderDiv {
    box-sizing: border-box;
}

.music-player {
    margin: 2px 2px 2px 2px;
    position: absolute;
    background: grey;
    width: 99.65%;
    height: 200px;
    padding: 10px 18px;
    display: flex;
    align-items: center;
}

#music-icon {
    margin: 10px 0px 0px 10px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.info {
    margin: 30px;
    width: 100%;
}

.userImage.placeholderDiv {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}





@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


.container {
    font-family: 'Quicksand', sans-serif;
}

.music-player {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    background: #fff2f6;
    width: 70%;
    height: 340px;
    border-radius: 15px;
    padding: 10px 18px;
    box-shadow: 0px 17px 118px -37px rgb(130, 0, 82, 0.75);
    display: flex;
    align-items: center;
}

#music-icon {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.info {
    margin-left: 40px;
    width: 100%;
}

.info h3 {
    margin-bottom: 10px;
}

.control-bar {
    margin-top: 30px;
}

.control-bar img {
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}