* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.navbar {
    background-color: black;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    padding: 15px 13%;
    list-style: none;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #303030;
    z-index: 1;
}

.navlinks {
    position: relative;
    text-decoration: none;
    color: grey;
    text-align: center;
    justify-self: center;
    padding: 3px;
    font-size: medium;
    cursor: pointer;
    transition: color .3s ease;
}

.navlinks:hover {
    color: white;
}

.navlist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: #151515;
}

.navlinks .profile {
    color: #151515;
}

.userProfileBtn {
    padding: 5px;
}

.profile-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #606060;
    padding: 25px;
    border-radius: 6px;
    color: grey;
}

.dropdown button {
    background-color: grey;
    border: solid 2.3px;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.5s;
    justify-self: flex-end;
    align-self: flex-end;
    font-size: medium;
    font-family: 'Inter', sans-serif;
    ;
    padding: 3px 9px;
}

.dropdown button:hover {
    background-color: lightslategray;
    border: solid 2.3px lightslategray;
}

.profile-dropdown>div {
    padding: 5px;
    font-size: large;
}