* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #24252A; */
}

.nav_links .links {
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav_links {
    list-style: none;
    padding: 20px;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}



.active,
.nav_links li:hover {
    background: grey;
    border-radius: 5px;
}

.nav_links li:hover {
    color: #0088a9;
}

button {
    padding: 7px 23px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}