.creator-card {

    align-items: center;
}

.creator-avatar {
    width: 80px;
    height: 80px;
}

.creator-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.creator-name-tag {
    font-size: 12px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    position: relative;
    bottom: 20px;
    width: max-content;
    background-color: white;
    z-index: 3;
}

.creator-name-tag:hover {
    border: 1px solid #999;
}
