a {
  text-decoration: none;
  color: black;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.Pl_S_banner {
  background-color: grey;
  height: 380px;
  width: 1240px;
  padding: 30px 30px 30px 30px;
  justify-content: space-between;
}

.error_message{
  color: red;
  font-size: 20px;
  align-self: center;
  justify-self: center;
}
