* {
  --page-container-bottom-margin: 75px;
  --color-border-dark: #333;
  --color-border: #e5e5e5;
  --color-border-light: #f2f2f2;
  --color-primary: #f50;
  --color-warning: #cf0000;
  --navbar-height: 66px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Grande", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
  --user-banner-url: url("https://i.ytimg.com/vi/zob-2dpRtH0/maxresdefault.jpg");
}

a {
  text-decoration: none;
  color: black;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.error-text {
  color: var(--color-warning);
}

.hidden {
  visibility: hidden;
}

.Pl_S_banner {
  background-color: grey;
  height: 380px;
  width: 1240px;
  padding: 30px 30px 30px 30px;
  justify-content: space-between;
}

.error_message {
  color: var(--color-warning);
  font-size: 20px;
  align-self: center;
  justify-self: center;
}

.cool_button {
  border: 2px solid grey;
  background-color: transparent;
  border-radius: 4px;
  padding: 3px 10px;
  margin: 0px 5px 0px 0px;
}

.cool_button:hover {
  border: 2.2px solid var(--color-primary);
  color: var(--color-primary);
}

.cool_div {
  font-size: 13.3333px;
  padding: 5px 10px 3px;
}


.opHov {
  cursor: pointer;
}

.opHov:hover {
  opacity: .95;
  color: rgba(128, 128, 128, 0.686);
}