* {
  --page-container-bottom-margin: 75px;
  --color-border-dark: #333;
  --color-border: #e5e5e5;
  --color-border-light: #f2f2f2;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

:root {
  --user-banner-url: url("https://i.ytimg.com/vi/zob-2dpRtH0/maxresdefault.jpg");
}

a {
  text-decoration: none;
  color: black;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}

.Pl_S_banner {
  background-color: grey;
  height: 380px;
  width: 1240px;
  padding: 30px 30px 30px 30px;
  justify-content: space-between;
}

.error_message {
  color: red;
  font-size: 20px;
  align-self: center;
  justify-self: center;
}

.hidden {
  visibility: hidden;
}

.cool_button {
  border: 2px solid grey;
  background-color: transparent;
  border-radius: 4px;
  padding: 3px 10px;
  margin: 0px 5px 0px 0px;
}

.cool_button:hover {
  border: 2.2px solid #f50;
  color: #f50;
}

.cool_div {
  font-size: 13.3333px;
  padding: 5px 10px 3px;
}
