.add_to_playlist_img {
  width: 60px;
}

.inner_add_to_playlist_conatiner {
  width: 100%;
  padding: 15px 35px 15px 35px;
}
.div_row_add_to_playlist_container {
  overflow-y: scroll;
  height: 550px;
}
.div_row_add_to_playlist {
  justify-content: space-between;
  margin: 15px 0px 15px 0px;
  padding-bottom: 15px;
  border-bottom: 1px solid grey;
}
