.login_modal_container {
  width: 450px;
  border: white solid 10px;
  padding: 40px 10px 80px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth_contaner {
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 100%;
  height: fit-content;

}

.login_form {
  margin-top: 15px;
  align-items: center;
  /* justify-content: center; */
  width: 450px;
}

.close-login-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 25px;
  cursor: pointer;
}

.half-Div {
  /* border: red solid 1px; */
  width: 400px;
  height: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin: 16px;
}

.half-line {
  border-top: 1px solid #000;
  width: 160px;
}

.signup_form {
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.auth_form_wrapper {
  margin: 25px 0;
  width: 90%;
  height: 90%;
  background-color: white;
  height: fit-content;
}

.form_field {
  /* border: red solid 1px; */
}

.form_field .field {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: .1px grey solid;
  padding: 10px;
}

.form_button {
  justify-content: center;
}

.login_form_btn {
  font-size: 16px;
  height: 40px;
  line-height: 18px;
  padding: 10px 15px;
  width: 400px;
  height: 40px;
  background-color: black;
  border: none;
  border-radius: 3px;
  color: #fff;
}

/* .login_form_btn:hover{
    font-size: ;
} */

.auth_links {
  color: #f50;
  cursor: pointer;
}



.toggle-sign-up {
  background-color: #3578e5;
  color: #fff;
  margin-top: 15px;
}

.cnt-login {
  background-color: #FF5500;
  margin-top: 15px;
}

.proF-icon {
  position: absolute;
  margin-left: -25px;
  font-size: 20px;
  margin-top: -2px;
}

.or-shdw-hov:hover {
  box-shadow: 0px 0px 2px .2px grey;
}



.priv-tag {
  color: #999;
  font-weight: 100;
  font-size: 12px;
}

.priv-tag-div {
  /* border: red solid 1px; */
  width: 400px;
  margin-top: 10px;
}