.song_container_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song_mainfeed_sidebar_conatiner {
    width: 1240px;
    background-color: rgb(255, 255, 255);
}

.song_mainfeed_container {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0px 12px 0px 12px;
}

.song_button_group {
    padding: 0px 0px 12px 0px;
    border-bottom: 1px solid grey;
}

.single_row_img {
    width: 25px;
}

.song_sidebar_conatiner {
    width: 30%;
    border-left: 1px solid grey;
    padding: 0px 0px 0px 10px;
}

.song_sidebar_a_group_div {
    padding: 0px 0px 9px 0px;
    border-bottom: 1px solid grey;
}

.song_sidebar_a_group {
    justify-content: space-between;
}

.song_sidebar_image {
    width: 60px;
}

.song_image {
    width: 340px;
}

.song_mainfeed_top {
    margin-top: 20px;
    height: 90px;
}

.new-comment-form_wrapper {
    background-color: rgb(242, 242, 242);
    height: 40px;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.new-comment-form_placeholder {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(135deg, #e6846e, #70929c);
}

.new-comment-form {
    border: 1px solid rgb(229, 229, 229);
    height: 40px;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    width: 100%;
}

.comment_input {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
    line-height: 1.4;
    border: 1px solid #e5e5e5;
    color: #333;
}

.comment_input:hover {
    cursor: pointer;
}

.user-badge .avatar {
    height: 120px;
    width: 120px;
}

.song-details {
    width: 100%;
}

.song-description {
    min-height: 150px;
    overflow: auto;
    width: 100%;
}

.song-comments-list {
    width: 100%;
}

.song-comments-list * {
    font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 1.4;
}

.comments-count {
    padding-bottom: 7px;
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
    align-items: flex-end;
}

.comments-count-text {
    font-size: 14px;
    line-height: 1.3;
    color: #999;
}
