body {
  background-color: rgb(242, 242, 242);
}

.homepage_container {
  background-color: white;
  display: flex;
  margin: 0px 75px var(--page-container-bottom-margin) 75px;
}

.sidebar_container {
  border-left: 2.5px solid rgb(242, 242, 242);
  align-items: center;
  padding-top: 20px;
}

.gallery_container {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 400px;
  width: 1500px;
  border-bottom: 3px solid rgb(153, 153, 153);
}

.gallery_text {
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.gallery_title {
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 30px;
  font-family: sans-serif;
  color: rgb(55, 55, 55);
  line-height: 19.6px;
  list-style-position: outside;
}

.gallery_description {
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  color: rgb(153, 153, 153);
  line-height: 19.6px;
  list-style-position: outside;
}

.mainFeed_gallery_list {
  list-style: none;
  width: 100%;
  margin: 20px 0px 25px 0px;
  padding: 0px 0px 20px 0px;
  border-bottom: 2px solid grey;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.mainfeed_left_container {
  width: 80%;
}

.mainfeed_right_container {
  width: 100%;
}

.mainfeed {
  width: 80%;
  margin-left: 160px;
}

.sidebar-text {
  width: max-content;
  margin: 20px auto;
}

.techs {
  width: 200px;
  overflow-x: scroll;
  gap: 10px;
}

.tech-icon img {
  width: 60px;
  height: 60px;
}
