.users_page_main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--page-container-bottom-margin);
  position: relative;
}

.user_banner {
  height: 250px;
  background-image: var(--user-banner-url);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -1px;
}

.user_banner_avatar {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  z-index: 2;
}

input[type="file"] {
  color: rgba(0, 0, 0, 0);
}

.user_upload_button {
  position: absolute;
  margin-top: 98px;
  margin-left: 19px;
  z-index: 2;
}

.user_detail_block {
  z-index: 2;
}

.user_detail_block p {
  background-color: black;
  color: white;
  margin-left: 25px;
  margin-bottom: 5px;
  padding: 5px;
}

.user_display_name {
  font-size: x-large;
}

.user_banner_img {
  position: absolute;
  z-index: 1;
  height: 250px;
}

.user_banner_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user_banner_img_container {
  /* border: 1px solid wheat; */
  display: flex;
  justify-content: center;
  /* display: none; */
}

.user_links_container {
  justify-content: space-between;
  padding: 0px 0px 12px 0px;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-border-light);
  z-index: 3;
  width: 1240px;
  padding-top: 20px;
  position: sticky;
  top: 66px;

}

.user_inner_container {
  width: 1240px;
}

/* .user_banner_img_container:hover img {
  display: block;
} */

.user_side_feed_container {
  border-left: 1px solid gray;
  padding: 5px 45px 5px 45px;
}

.user_page_left_conatiner {
  width: 900px;
}

.user_page_inner_feed_container {
  margin-top: 25px;
}

.right_stick_feed {
  position: sticky;
  top: 155px;
}

.user_feed_like_box {
  padding-right: 30px;
  border-right: 1px solid gray;
}

.user_feed_comment_box {
  padding-left: 30px;
}
