.avatar {
    height: 40px;
    width: 40px;
}

.avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.avatar-placeholder {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* background-image: linear-gradient(135deg, #8e8485, #70929c); */
    background-image: linear-gradient(135deg, #70929c, #e6846e);
}

.user-badge .avatar-placeholder {
    background-image: linear-gradient(135deg, #70929c, #846170);
}
