.playlist_container_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playlist_mainfeed_sidebar_conatiner {
  width: 1240px;
  margin-top: 25px;
}
.playlist_mainfeed_container {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0px 12px 0px 12px;
}

.playlist_button_group {
  padding: 0px 0px 12px 0px;
  border-bottom: 1px solid grey;
}

.single_row_img {
  width: 40px;
}
.playlist_sidebar_conatiner {
  width: 30%;
  border-left: 1px solid grey;
  padding: 0px 0px 0px 10px;
}

.playlist_sidebar_a_group_div {
  padding: 0px 0px 9px 0px;
  border-bottom: 1px solid grey;
}
.playlist_sidebar_a_group {
  justify-content: space-between;
}

.playlist_sidebar_image {
  width: 60px;
  margin-right: 10px;
}

.playlist_queue_delete_container {
  position: absolute;
  background-color: white;
  margin-top: 2px;
  box-shadow: 0px 0px 5px black;
}
.p_hover:hover {
  background-color: lightgrey;
}

.confirm_playlist_button {
  border: 1.5px solid lightgrey;
  border-radius: 5px;
}
.confirm_playlist_button:hover {
  border: 1.7px solid grey;
}

.playlist_delete_modal {
  width: 750px;
  height: 350px;
  justify-content: center;
  align-items: center;
}

.inner_playlist_delete_modal {
  align-items: flex-start;
}
.inner_inner_playlist_delete_modal {
  align-self: flex-end;
}

.hidden {
  display: none;
}

.playlist_song_list_li {
  list-style: none;
  height: 45px;
  margin: 7px 0px 7px 25px;
  border-bottom: 1.5px solid lightgrey;
}

.song_container_ul_li {
  margin-top: 25px;
  width: 100%;
}

.user-badge {
  margin-top: 19px;
}

.single_song_container_li {
  justify-content: flex-start;
  align-items: center;
}

.single_song_container_img {
  margin-right: 10px;
}

.single_song_container_idx {
  margin: 0px 10px 0px 10px;
}

.single_song_container_title {
  margin: 0px 10px 0px 10px;
}

.single_row_img_overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: transparent;
  height: 40px;
  width: 40px;
  color: white;
}

.single_row_img_overlay:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #f50;
}
.sidebar_playlist_list {
  margin: 5px 0px 15px 0px;
  padding-bottom: 5px;
  border-bottom: 1.5px solid lightgrey;
}

.playlist_sidebar_user_text {
  color: grey;
}
.playlist_sidebar_user_text:hover {
  color: black;
}

.playlist_song_list_li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
