.AEP_modal {
  width: 550px;
  height: 650px;
  overflow: hidden;
}

.AEP_modal_inner_container {
  width: 100%;
  padding: 15px 35px 15px 35px;
}

.AEP_image,
.AEP_placeholder {
  width: 175px;
  height: 175px;
}

.AEP_placeholder {
  background-image: linear-gradient(135deg, #8e8485, #70929c);
}

.AEP_left {
  width: 45%;
}

.AEP_right {
  width: 100%;
}

.AEP_spacing {
  margin: 10px 0px 10px 0px;
}

.AEP_submit_button {
  width: 50px;
  border: 2px solid grey;
  background-color: transparent;
  border-radius: 4px;
}

.AEP_submit_button:hover {
  border: 2.2px solid #f50;
  color: #f50;
}

.AEP_conatiner {
  margin: 15px 0px 0px 0px;
}

.AEP_li_img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.AEP_li {
  list-style: none;
  margin: 5px 0px 10px 0px;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

.AEP_basic_title {
  font-size: 25px;

  margin: 0px 10px 0px 0px;
}

.AEP_basic_title:hover {
  border-bottom: 2.5px solid #f50;
  color: #f50;
}

.selected {
  border-bottom: 2.5px solid #f50;
  color: #f50;
}

.AEP_inner_container_titles {
  border-bottom: 2px solid grey;
  width: 250px;
}

.AEP_li_x:hover {
  color: #f50;
}

.AEP_track_container {
  margin-top: 10px;
}
